/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {

}*/
.root{
    -fx-background-color: "black";
}

.button{
    -fx-font-size:10;
    -fx-background-color: "red";
    -fx-font-family:"Times New Roman";
    
    
}
#Up{
    -fx-font-size:15;
}
.label{
    -fx-font-color:"white";
    -fx-alignment: center;
}